/* esta es mi primera hoja de estilos*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}

body{
    background-color: rgb(220, 255, 242);
}
.tamaño .texto {
    /*background-image: url(_resorce/lubina-con-hummus-de-guisantes.jpg);*/
    background-position: center;
    padding: 10px;
    margin: 20px;
}
h2{
    text-decoration: burlywood;
    border-radius: 10px;
    text-align: center; 
}

div{
    background-color: rgba(139, 0, 139, 0.178);
}
p{
    color:black;
}


.imagen{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
    width: 50%;
    height: auto;
}
span{
    color: rgb(51, 255, 0);
    text-decoration: underline;
}
